<app-headline>     
<p class="haiim">Contact Us</p>    
</app-headline>

<form (ngSubmit)="send()">
<div>
    <input name="firstName" [(ngModel)]="contactUs.firstName" type="text" placeholder="First Name">
</div>
<div>
        <input name="lastName" [(ngModel)]="contactUs.lastName"  type="text" placeholder="Last Name">
</div>
<div>
        <input name="email" [(ngModel)]="contactUs.email"  type="email" placeholder="Email">
</div>
<div>
        <textarea name="message" [(ngModel)]="contactUs.message"  placeholder="Message"></textarea>
</div>
<button>Send</button>
</form>
