<app-headline>     
<p class="haiim">Contact Us</p>    
</app-headline>

<form #contactUsForm="ngForm" (ngSubmit)="send()">
<div>
    <input #firstName="ngModel" required name="firstName" [(ngModel)]="contactUs.firstName" type="text" placeholder="First Name">
    <span [hidden]="firstName.pristine || firstName.valid">Missing First name</span>
</div>
<div>
        <input name="lastName" [(ngModel)]="contactUs.lastName"  type="text" placeholder="Last Name">
</div>
<div>
        <input name="email" [(ngModel)]="contactUs.email"  type="email" placeholder="Email">
</div>
<div>
        <textarea name="message" [(ngModel)]="contactUs.message"  placeholder="Message"></textarea>
</div>
<button [disabled]="contactUsForm.form.invalid">Send</button>
</form>
