mat-form-filed, button{
    width: 400px;
    font-size: x-large;
}

/* input, textarea, button{
    width: 400px;
    font-size: x-large;
    margin: 10px;
}
 */

span{
    margin: 10px;
    text-align: left;
    color: red;
    position: absolute;
}

/* .ng-dirty.ng-invalid:not(form)
{
    background-color: pink;
} */