div:first-of-type{
    position: absolute;
    right: 20px;
    top: 120px;
    border: 1px solid black;
    padding: 10px;

}
div:last-of-type{
    position: absolute;
    left: 20px;
    top: 120px;
    border: 1px solid black;
    padding: 10px;
}
.greenish{color:green}

.yellowish{color:yellow}

.reddish{color:red}

.boldish{font-size: 40px; font-weight: bold}