
<app-headline>
    <p class="haiim">Only now, on {{myCurrentDate | date:'MMMM yyyy'}}  my great fiood with great {{myDiscount}}% discount</p> 
   
    </app-headline>
<img #homeImage [width]="myImageWidth" src="/assets/images/main.png">

<div>

    <button (click)="decrease()">&darr; DOWN</button>
    <button (click)="increase()">&uarr; UP</button>
    <button (click)="defaultSize()">&harr; EQ</button>

    <br>
    <input type=range min="100" max="500" step="10"  [(ngModel)] ="myImageWidth">

    <span>
       <p>
            Image width: {{homeImage.width}}
       </p> 
    </span>
</div>