
<app-headline>
    <p class="haiim">Only now, on {{myCurrentDate | date:'MMMM yyyy'}}  my great fiood with great {{myDiscount}}% discount</p> 
   
    </app-headline>
<img #homeImage [width]="myImageWidth" src="/assets/images/main.png">

<div>

    <button (click)="decrease()">&darr; DOWN</button>
    <button (click)="increase()">&uarr; UP</button>
    <button (click)="defaultSize()">&harr; EQ</button>

    <br>
    <input type=range min="100" max="500" step="10"  [(ngModel)] ="myImageWidth">

    <span>
       <p>
            Image width: {{homeImage.width}}
       </p> 
    </span>
</div>

<div>
    <h3>Fruits</h3>
    <p ngClass="greenish">Apples</p>
    <p [ngClass]="bananaStyling">Bananas</p>
    <p [ngStyle]="peachStyling">Toys</p>
    <p *ngIf="isWinter; else summer" [ngClass]="bananaStyling">Oranges</p>
    <ng-template #summer>
        <p>watermellon</p>
    </ng-template>

    <p [ngSwitch]="grapesColor"> 
        <span *ngSwitchCase="'green'"> Green Grapes </span>
        <span *ngSwitchCase="'black'"> Black Grapes </span>
        <span *ngSwitchCase="'red'" [ngClass]="redStyling"> Red Grapes </span>
        <span *ngSwitchDefault> All Grapes </span>
    </p>

    <h3>Vegetables:</h3>
    <p *ngFor="let v of vegetables; let i=index">{{i+1}} - {{v}}</p>

</div>