   <table>
  
    <tr>
        <th> Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Picture</th>
        <th>Like</th>
    </tr>
   
    <tr *ngFor="let p of products">

        <td><a routerLink="/one-product/{{p.id}}">{{p.name}}</a></td>
        <td>{{p.price |  currency:'ILS':'symbol'}}</td>
        <td>{{p.stock | zeroToSymbol:'yyy'}}</td>
        <td>
            <app-thumbnail source="/assets/images/products/{{p.id}}.jpg" 
            picWidth="45" 
            picHeight="50"
            (enter)="preview.src=$event"
            (exit)="preview.src=''">
        </app-thumbnail>
        </td>
        <td>
            <app-like></app-like>
        </td>
    </tr>
</table> 

<img #preview>




